<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  
  <title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} - {{ .Site.Title }}{{ end }}</title>

  {{ $tailwindCSS := resources.Get "css/tailwind.css" }}
  {{ $tailwindCSS = $tailwindCSS | css.PostCSS }}
  {{ $tailwindCSS = $tailwindCSS | minify | fingerprint }}
  {{ $style := resources.Get "css/style.css" | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $style.RelPermalink }}" integrity="{{ $style.Data.Integrity }}">
</head>
