<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100..900&family=Noto+Serif+SC:wght@200..900&family=Noto+Color+Emoji&display=swap" rel="stylesheet">
  <title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} - {{ .Site.Title }}{{ end }}</title>
  <style>html{color-scheme:light dark}body{font-family:"Noto Sans SC","Noto Color Emoji",sans-serif;font-optical-sizing:auto;max-width:720px;margin:0 auto;line-height:1.6}h1,h2,h3,h4,h5,h6,blockquote{font-family:"Noto Serif SC","Noto Color Emoji",serif;font-optical-sizing:auto}img{max-width:100%;height:auto}</style>
</head>
