:root {
  --sans-font: -apple-system, Roboto, "Noto Sans", "Segoe UI", "PingFang SC", "Noto Sans SC", "Noto Sans CJK SC", "Microsoft YaHei", sans-serif, "Apple Color Emoji", "Noto Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --mono-font: ui-monospace, SFMono-Regular, "Roboto Mono", "Liberation Mono", Consolas, monospace;
  
  --featured-border-radius: 0.5rem;
  --standard-border-radius: 0.25rem;

  /* Default (light) theme */
  --bg: #fff;
  --accent-bg: #f5f7ff;
  --text: #212121;
  --text-light: #585858;
  --border: #898EA4;
  --accent: #0d47a1;
  --accent-hover: #1266e2;
  --accent-text: var(--bg);
  --code: #d81b60;
  --preformatted: #444;
  --disabled: #efefef;
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
    --bg: #212121;
    --accent-bg: #2b2b2b;
    --text: #dcdcdc;
    --text-light: #ababab;
    --accent: #ffb300;
    --accent-hover: #ffe099;
    --accent-text: var(--bg);
    --code: #f06292;
    --preformatted: #ccc;
    --disabled: #111;
  }
  /* Add a bit of transparency so light media isn't so glaring in dark mode */
  img,
  video {
    opacity: 0.8;
  }
}

/* Reset box-sizing */
*, *::before, *::after {
  box-sizing: border-box;
}

/* Reset default appearance */
textarea,
select,
input,
progress {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

html {
  font-family: var(--sans-font)
}

body {
    background-color: var(--bg);
    color: var(--text);
    font-size: 1rem;
    line-height: 1.625;
    margin: 0;
    padding: 0;
}

a, a:visited {
  color: var(--accent);
}

a:hover {
  text-decoration: none;
}

h1 {
    line-height: 1.25
}

h2 {
    line-height: 1.375
}

h3 {
    line-height: 1.5
}

h1, h2, h3 {
    margin-top: 0
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

hr {
    margin: 1rem auto;
    border: none;
    height: 1px;
    background: var(--border);
}

aside, details, pre, progress {
  background-color: var(--accent-bg);
  border-radius: var(--standard-border-radius);
  margin-bottom: 1rem;
}

code,
pre,
pre span,
kbd,
samp {
    font-family: var(--mono-font);
    color: var(--code);
}

kbd {
  color: var(--preformatted);
  border: 1px solid var(--preformatted);
  border-bottom: 3px solid var(--preformatted);
  border-radius: var(--standard-border-radius);
  padding: 0.25rem 0.5rem;
}

pre {
  padding: 1rem;
  max-width: 100%;
  overflow: auto;
  color: var(--preformatted);
}

pre code {
  color: var(--preformatted);
  background: none;
  margin: 0;
  padding: 0;
  font-size: 0.875rem;
  line-height: 1.5;
  display: block;
  overflow-x: auto;
  white-space: pre;
  word-wrap: normal
}

blockquote {
  margin-inline-start: 1rem;
  margin-inline-end: 0;
  margin-block: 1rem;
  padding: 1rem;
  border-inline-start: 0.25rem solid var(--accent);
  color: var(--text-light);
  font-style: italic;
}

blockquote > *:first-child {
  margin-top: 0
}

blockquote > *:last-child {
  margin-bottom: 0
}

cite {
  font-size: 0.875rem;
  color: var(--text-light);
  font-style: normal;
}

.container {
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
    padding: 4em 0.75em;
    gap: 6em
}

aside {
    text-align: right;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    background-color: inherit;
    border: none
}

aside h1 {
    font-size: 1.5em;
    line-height: 1;
    margin-bottom: 0.5rem
}

aside a {
    color: inherit !important;
    text-decoration: none
}

main {
    max-width: 640px;
    width: 100%
}

main img {
    display: block;
    margin-bottom: 1rem;
    max-width: 100%;
    height: auto;
    border-radius: var(--standard-border-radius)
}

.featured-image {
    margin-bottom: 2rem
}

.featured-image img {
    border-radius: var(--featured-border-radius)
}

.post-title {
    font-size: 2em;
    line-height: 1;
    margin-bottom: 0.5rem
}

.post-date {
    display: block;
    color: var(--text-light);
    font-size: 0.875rem;
    line-height: 1;
    margin-bottom: 1rem
}

.post-content>*:last-child {
    margin-bottom: 0
}

hr {
    margin: 1em 0
}

ul,
ol {
    margin-top: 1em;
    margin-bottom: 1em;
    padding-left: 2em
}

ul li,
ol li {
    margin-bottom: .5em
}

table {
    border-collapse: collapse;
    font-size: .875rem;
    margin: 1rem 0;
    display: block;
    overflow-x: auto
}

th,
td {
    padding: 0.5em;
    border: 1px solid var(--border);
    text-align: start;
    line-height: 1.5;
    white-space: nowrap;
}

th {
    background-color: var(--accent-bg);
    font-weight: bold;
}

tr:nth-child(even) {
  background-color: var(--accent-bg);
}

@media (max-width: 1000px) {
    .container {
        flex-direction: column;
        align-items: center;
        gap: 3em
    }
    
    aside {
        order: -1;
        max-width: 640px;
        width: 100%;
        text-align: left
    }
}

@media (max-width: 664px) {
    :root {
        --featured-border-radius: 0.25rem;
        --standard-border-radius: 0.125rem;
    }
}
