:root {
  --sans-font: -apple-system, segoe ui, Roboto, noto sans, pingfang sc, microsoft yahei, noto sans sc, sans-serif, apple color emoji, segoe ui emoji, segoe ui symbol, noto color emoji;
  --mono-font: ui-monospace, SFMono-Regular, Consolas, "Roboto Mono", "Liberation Mono", monospace;
  
  --featured-border-radius: 1rem;
  --standard-border-radius: 0.5rem;

  /* Default (light) theme */
  --bg: #fff;
  --accent-bg: #f5f7ff;
  --text: #212121;
  --text-light: #585858;
  --border: #898EA4;
  --accent: #0d47a1;
  --accent-hover: #1266e2;
  --accent-text: var(--bg);
  --code: #d81b60;
  --preformatted: #444;
  --disabled: #efefef;
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
    --bg: #212121;
    --accent-bg: #2b2b2b;
    --text: #dcdcdc;
    --text-light: #ababab;
    --accent: #ffb300;
    --accent-hover: #ffe099;
    --accent-text: var(--bg);
    --code: #f06292;
    --preformatted: #ccc;
    --disabled: #111;
  }
  /* Add a bit of transparency so light media isn't so glaring in dark mode */
  img,
  video {
    opacity: 0.8;
  }
}

/* Reset box-sizing */
*, *::before, *::after {
  box-sizing: border-box;
}

/* Reset default appearance */
textarea,
select,
input,
progress {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

html {
  font-family: var(--sans-font)
}

body {
    background-color: var(--bg);
    color: var(--text);
    font-size: 1rem;
    line-height: 1.625;
    margin: 0;
    padding: 0;
}

a, a:visited {
  color: var(--accent);
}

a:hover {
  text-decoration: none;
}

h1 {
    line-height: 1.25
}

h2 {
    line-height: 1.375
}

h3 {
    line-height: 1.5
}

h1, h2, h3 {
    margin-top: 0
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

aside, details, pre, progress {
  background-color: var(--accent-bg);
  border-radius: var(--standard-border-radius);
  margin-bottom: 1rem;
}

code,
pre,
pre span,
kbd,
samp {
    font-family: var(--mono-font);
    color: var(--code);
}

kbd {
  color: var(--preformatted);
  border: 1px solid var(--preformatted);
  border-bottom: 3px solid var(--preformatted);
  border-radius: var(--standard-border-radius);
  padding: 0.25rem 0.5rem;
}

pre {
  padding: 1rem;
  max-width: 100%;
  overflow: auto;
  color: var(--preformatted);
}

pre code {
  color: var(--preformatted);
  background: none;
  margin: 0;
  padding: 0;
  font-size: 0.875rem;
  line-height: 1.5;
  display: block;
  overflow-x: auto;
  white-space: pre;
  word-wrap: normal
}

button,
.button,
a.button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  border: 1px solid var(--accent);
  background-color: var(--accent);
  color: var(--accent-text);
  padding: 0.5rem 0.9rem;
  text-decoration: none;
  line-height: normal;
}

.button[aria-disabled="true"], 
input:disabled,
textarea:disabled,
select:disabled,
button[disabled] {
  cursor: not-allowed;
  background-color: var(--disabled);
  border-color: var(--disabled);
  color: var(--text-light);
}

input[type="range"] {
  padding: 0;
}

/* Set the cursor to '?' on an abbreviation and style the abbreviation to show that there is more information underneath */
abbr[title] {
  cursor: help;
  text-decoration-line: underline;
  text-decoration-style: dotted;
}

button:enabled:hover,
.button:not([aria-disabled="true"]):hover,
input[type="submit"]:enabled:hover,
input[type="reset"]:enabled:hover,
input[type="button"]:enabled:hover {
  background-color: var(--accent-hover);
  border-color: var(--accent-hover);
  cursor: pointer;
}

.button:focus-visible,
button:focus-visible:where(:enabled),
input:enabled:focus-visible:where(
  [type="submit"],
  [type="reset"],
  [type="button"]
) {
  outline: 2px solid var(--accent);
  outline-offset: 1px;
}

.container {
    display: flex;
    max-width: 1280px;
    margin: 0 auto;
    padding: 4em 1em;
    gap: 8em
}

aside {
    text-align: right;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    background-color: inherit;
    border: none
}

aside a {
    color: inherit !important;
    text-decoration: none
}

main {
    max-width: 768px;
    width: 100%
}

main img {
    display: block;
    margin-bottom: 1rem;
    max-width: 100%;
    height: auto;
    border-radius: var(--standard-border-radius)
}

.featured-image {
    margin-bottom: 2rem
}

.featured-image img {
    border-radius: var(--featured-border-radius)
}

.post-title {
    font-size: 2em;
    line-height: 1;
    margin-bottom: 0.5rem
}

.post-date {
    display: block;
    color: var(--text-light);
    font-size: 0.875rem;
    line-height: 1;
    margin-bottom: 1rem
}

.post-content>*:last-child {
    margin-bottom: 0
}

hr {
    margin: 1em 0
}

ul,
ol {
    margin-top: 1em;
    margin-bottom: 1em;
    padding-left: 2em
}

ul li,
ol li {
    margin-bottom: .5em
}

table {
    border-collapse: collapse;
    font-size: .875rem;
    margin: 1rem 0
}

th,
td {
    padding: .5em;
    border: 1px solid var(--border);
    text-align: left
}

@media (max-width: calc(1280px + 2rem)) {
    .container {
        flex-direction: column;
        align-items: center;
        gap: 4em
    }
    
    aside {
        order: -1;
        max-width: 768px;
        width: 100%;
        text-align: left
    }
}

@media (max-width: calc(768px + 2rem)) {
    :root {
        --featured-border-radius: 0.5rem;
        --standard-border-radius: 0.25rem;
    }
}
