html {
    color-scheme: light dark
}

body {
    font-family: "Helvetica Neue", "Luxi Sans", "Segoe UI", "Hiragino Sans GB", "Microsoft Yahei", sans-serif, "Apple Logo";
    max-width: 720px;
    padding: 0 1em;
    margin: 0 auto;
    line-height: 1.6
}

hr {
    margin-block-start: 1em;
    margin-block-end: 1em
}

ul, ol {
    margin-top: 1em;
    margin-bottom: 1em;
    padding-left: 2em
}

ul li, ol li {
    margin-bottom: .5em
}

img {
    max-width: 100%;
    height: auto
}

table {
    border-collapse: collapse
}

th, td {
    padding: 0.5rem;
    border-bottom: 1px solid;
    text-align: left
}
