{{ define "main" }}
{{- partial "aside.html" . -}}
<main>
  {{ with .Params.featured }}
    <div class="featured-image">
      {{ partial "image.html" (dict 
        "src" . 
        "alt" $.Title 
        "Page" $.Page
        "lazy" "false"
        "type" "featured"
      ) }}
    </div>
  {{ end }}
  <h1 class="post-title">{{ .Title }}</h1>
  <time class="post-date" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}" itemprop="datePublished">{{ .Date.Format "2006-01-02" }}</time>
  <div class="post-content">{{ .Content }}</div>
</main>
{{ end }}


