{{ define "main" }}
<tt>
  <b>{{ .Site.Title }}</b>
  {{ with .Site.GetPage "contact.md" }}<a href="{{ .RelPermalink }}">Contact</a> |{{ end }}
  {{ with .Site.GetPage "about.md" }}<a href="{{ .RelPermalink }}">About</a>{{ end }}

  <hr>

  <b>{{ .Title }}</b>
  <br><br>

  {{ .Content }}

  <hr>

  {{ $pages := (where .Site.RegularPages "Type" "in" .Site.Params.mainSections).ByDate.Reverse }}
  {{ if $pages }}
    {{ $latestPage := index $pages 0 }}
    Last <a href="http://www.neocities.org/site/simplifier">updated</a> on {{ $latestPage.Date.Format "01/02/2006" }}.
  {{ end }}
</tt>
{{ end }}

