{{ define "main" }}
<aside>
  <h1><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></h1>
</aside>
<main>
  {{ with .Params.featured }}
    <div class="post-featured">
      {{ partial "image.html" (dict 
        "src" . 
        "alt" $.Title 
        "Page" $.Page
        "lazy" "false"
        "type" "featured"
      ) }}
    </div>
  {{ end }}
  <h2 class="post-title">{{ .Title }}</h2>
  <div class="post-meta">
      <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
        {{ .Date.Format "2006-01-02" }}
      </time>
  </div>
  <div class="post-content">{{ .Content }}</div>
</main>
{{ end }}
